@model FG12.Models.KnockoutMatch

@{
    ViewBag.Title = "Edit";
}

<h2>@Model.HomeTeam.Name - @Model.AwayTeam.Name</h2>
<br />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>KnockoutMatch</legend>

        @Html.HiddenFor(model => model.Id)

        

            @Html.HiddenFor(m => m.Type)
            @Html.HiddenFor(m => m.HomeTeamId)
            @Html.HiddenFor(m => m.AwayTeamId)

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeTeamGoals)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeTeamGoals)
            @Html.ValidationMessageFor(model => model.HomeTeamGoals)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AwayTeamGoals)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AwayTeamGoals)
            @Html.ValidationMessageFor(model => model.AwayTeamGoals)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
