<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/Content/images/fifa_14.jpg" style="width: 100px; float: left; margin-right: 10px;" alt="logo"/>
                    <p class="site-title">@Html.ActionLink("FIFA-Gathering @ O´Learys #FG13", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            @if (Request.IsAuthenticated) {
                                <li>@Html.ActionLink("Admin mellomspill", "Index", "MatchMiddleStage")</li>
                                <li>@Html.ActionLink("Admin finaler", "Index", "KnockoutMatch")</li>                                
                            }
                            <li>@Html.ActionLink("Gruppespill", "Index", "Home")</li>
                            <li>@Html.ActionLink("Mellomspill", "Mellomspill", "Home")</li>
                            <li>@Html.ActionLink("Finaler", "Finaler", "Home")</li>
                            
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&nbsp;</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
